<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Por Disney</ion-card-subtitle>
    <ion-card-title>Pocoyo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    jlkasdfh lakjsdf laskdf
  </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Por Disney</ion-card-subtitle>
      <ion-card-title>Pocoyo II</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/Imagenes/pocoyo3.jpg"></ion-img>
      Resumen: Pocoyo se va a la conquista de un nuevo mundo supersonico
    </ion-card-content>

    </ion-card>


</ion-content>
